// media breakpoints

$desktop-breakpoint: 40rem;

// dark mode colors
$color-background1:  #081c15;
$color-background2: #1b4332;

$color-key1: #52b788;
$color-key2: #40916c;
$color-key3: #ffbf69;
$color-key4: #ff9f1c;
$color-key5: hsl(30, 25%, 89%);
$color-key6: hsl(28, 16%, 65%);

$color-text1: hsl(221, 14%, 31%);
$color-text2: hsl(0, 0, 100%);

// light mode colors

// $color-light-background1:  hsl(0, 0%, 90%);
// $color-light-background2: hsl(0, 5%, 81%);
// $color-light-background3: hsl(0, 0%, 93%);

// $color-light-key1: hsl(185, 42%, 37%);
// $color-light-key2: hsl(185, 58%, 25%);
// $color-light-key3: hsl(25, 98%, 40%);
// $color-light-key4: hsl(25, 99%, 27%);
// $color-light-key5: hsl(45, 7%, 89%);
// $color-light-key6: hsl(35, 11%, 61%);

// $color-light-text1: hsl(60, 10%, 19%);
// $color-light-text2: hsl(0, 0, 100%);