@use '../../styles/partials/variables' as *;

.controls {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 80%;
    border-radius: 0.5rem;
    background-color: $color-background3;
    color: $color-text2;

    &__button {
        border-radius: 0.5rem;
        background-color: $color-key5;
        border: none;
        border-bottom: 0.25rem solid $color-key6;
        margin: 0.25rem;
        font-size: 2rem;
        font-weight: bold;
        color: $color-text1;
        transition: border-bottom 0.05s ease-in-out;

        &:active {
            border-bottom: none;
            transition: border-top 0.05s ease-in-out, border-bottom 0.05s ease-in-out;
        }

        &--special1 {
            background-color: $color-key1;
            border-bottom: 0.25rem solid $color-key2;
            color: $color-text2;
            font-size: 1.25rem;

            &:active {
                border-bottom: none;
                transition: border-bottom 0.05s ease-in-out;
            }
        }

        &--special2 {
            background-color: $color-key3;
            border-bottom: 0.25rem solid $color-key4;
            color: $color-text2;

            &:active {
                border-bottom: none;
                transition: border-bottom 0.05s ease-in-out;
            }
        }
    }
}