@use '../../styles/partials/variables' as *;

.controls {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 80%;
    border-radius: 0.5rem;
    background-color: $color-background3;
    color: $color-text2;

    &__button {
        border-radius: 0.5rem;
        background-color: $color-key5;
        border: none;
        border-bottom: 0.25rem solid $color-key6;
        margin: 0.25rem;
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-text1;

        &:active {
            border-bottom: none;
            border-top: 0.1rem solid $color-key6;
        }
    }
}