@use '../../styles/partials/variables' as *;

.controls {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem;
    height: 75%;
    border-radius: 0.5rem;
    background-color: $color-background2;
    color: $color-text2;

    &__button {
        border-radius: 0.5rem;
        background-color: $color-key5;
        border: none;
        border-bottom: 0.25rem solid $color-key6;
        margin: 0.5rem 0.25rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-text1;

        &:active {
            background-color: $color-key6;
            border-bottom: none;

        }

        &--delete {
            grid-column: auto;
            background-color: $color-key1;
            border-bottom: 0.25rem solid $color-key2;
            color: $color-text2;
            font-size: 1.25rem;

            &:active {
                background-color: $color-key2;
                border-bottom: none;

            }
        }

        &--reset {
            grid-column: 1 / span 2;
            background-color: $color-key1;
            border-bottom: 0.25rem solid $color-key2;
            color: $color-text2;
            font-size: 1.25rem;

            &:active {
                background-color: $color-key2;
                border-bottom: none;
            }
        }

        &--equals {
            grid-column: 3 / span 2;
            background-color: $color-key3;
            border-bottom: 0.25rem solid $color-key4;
            color: $color-text2;

            &:active {
                background-color: $color-key4;
                border-bottom: none;
            }
        }
    }
}