@use './styles/partials/variables' as *;

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $color-background1;
}

.calculator {
	border: 1px dotted red;
	width: 20rem;
	height: 15rem;
}